.home 
  .hero
    img 
      border-radius: 50%
      max-height: 230px!important
.navbar
  .links
    top: 0!important
    bottom: 0!important
    margin: auto
    align-items: center
    .nav-links
      height: 100%
      .nav-item
        height: 100%
        a
          line-height: 3.5rem



